<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="PIXINVENT">
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="static/app-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="static/app-assets/css/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="static/app-assets/css/bootstrap-extended.css">
</head> 
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar"
      data-open="click" data-menu="vertical-menu" data-col="2-columns">
    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img class="brand-logo" alt="stack admin logo" src="static/app-assets/images/stack-logo-light.png">
                            <h2 class="brand-text">管理后台</h2>
                        </a>
                    </li>
                    <li class="nav-item d-md-none"> <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a> </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <li class="dropdown dropdown-user nav-item">
                          <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                            <span class="avatar avatar-online">
                              <img src="static/app-assets/images/head.jpg" alt="avatar">
                            </span>
                            <span class="user-name">欢迎您：{{ username }}</span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/api/logout">
                              <i class="fa fa-sign-out"></i> 注销
                            </a>
                          </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" nav-item only open"><a href="{{ url_for('dashboard.controlpanel')}}" target="iframe1"><i class="fa fa-dashboard"></i><span class="menu-title">控制面板</span></a></li>
                <li class=" nav-item">
                    <a href="{{ url_for('dashboard.roommanage')}}" target="iframe1"><i class="fa fa-desktop"></i><span class="menu-title">房间管理</span></a>
                </li>
                <li class=" nav-item">
                    <a href="{{ url_for('dashboard.productsmanage') }}" target="iframe1"><i class="fa fa-folder-open"></i><span class="menu-title">商品管理</span></a>
                </li>


                <li class=" nav-item">
                    <a href="{{ url_for('members.members') }}" target="iframe1"><i class="fa fa-users"></i><span class="menu-title">会员管理</span></a>

                </li>
                <li class=" nav-item only">
                    <a href="{{ url_for('backups.backup') }}" target="iframe1"><i class="fa fa-file-text"></i><span class="menu-title">数据备份与恢复</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="app-content content">
        <iframe src="{{url_for('dashboard.controlpanel') }}" frameborder="0" class="iframe1" name="iframe1"></iframe>
    </div>
    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"> <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2024 <a class="text-bold-800 grey darken-2" href="https://www.bootstrapmb.com">bootstrapMB </a></span> </p>
    </footer>
    <script src="static/app-assets/js/vendors.min.js" type="text/javascript"></script>
    <script src="static/app-assets/js/app-menu.js" type="text/javascript"></script>
    <script src="static/app-assets/js/app.js" type="text/javascript"></script>
    <!-- <script src="static/app-assets/js/echarts.min.js" type="text/javascript"></script> -->

    
   
</body>
</html>